.rangeInput::-webkit-slider-runnable-track {
  cursor: pointer;
  height: 1px;
  background-color: #5f60ff;
}
.rangeInput {
  -webkit-appearance: none;
  height: 0px;
}
.rangeInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 7px solid #fff;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background: #5f60ff;
  cursor: pointer;
  margin-top: -10px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 0px 0px 10px 0px #00000040;
}

.rangeList {
  display: flex;
  justify-content: space-between;
  height: auto;
  overflow: hidden;
  margin-top: -40px;
  z-index: -100;
}

.line {
  font-size: 10px;
}
