.customInput {
  box-shadow: 0px 0px 16px 0px #00000026;
  height: 50px;
}

::placeholder {
  font-size: 12px;
  color: #b0b0b0 !important;
}

input.customCheckbox {
  height: 50px !important;
}
input:checked {
  background-color: #5f60ff !important;
}
