@import "bootstrap/dist/css/bootstrap.min.css";
.breadcrumb-item + .breadcrumb-item::before {
  content: var(--bs-breadcrumb-divider, ">");
}

.headerBg {
  background: #f0f0f0;
}

.titleBg {
  background-color: #5f60ff;
}

.lightGrey {
  color: #b0b0b0;
}

.done {
  color: black;
}

.active {
  color: #5f60ff !important;
}

.backBtnActive {
  color: #5f60ff;
  border: 1px solid #5f60ff;
}
.backBtnActive:hover {
  color: #5f60ff;
}

.backBtn {
  color: #b0b0b0;
  border: 1px solid #b0b0b0;
}
.backBtn:hover {
  color: #b0b0b0;
}

.nextBtn {
  background-color: #5f60ff;
  color: white;
}

.nextBtn:hover {
  color: white;
}
